body {
  font-family: "Playfair Display", serif;
}
/* Home page modification */
.home {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url(/luis-quintero-aoz8a7jO0QI-unsplash.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron {
  background: none;
  text-align: center;
}

/* Survey page modification */
.survey {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url(/bruce-mars-ZXq7xoo98b0-unsplash.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: aliceblue;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
  text-align: center;
}

/* Both home and survey page */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #0c4370;
  text-align: center;
}
#footer {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  color: aliceblue;
}
#footer a {
  color: white;
}

/* Modal Modifications */
.modal-title {
  color: black;
  text-align: center;
}

#newFriend {
  color: black;
}
