body {
  font-family: "Playfair Display", serif;
  /* overflow: hidden; */
}
/* Home page modification */
.home {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url(/luis-quintero-aoz8a7jO0QI-unsplash.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron {
  background: none;
  text-align: center;
}

/* Survey page modification */
.survey {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url(/bruce-mars-ZXq7xoo98b0-unsplash.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: aliceblue;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
  text-align: center;
}

/* Both home and survey page */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #0c4370;
  text-align: center;
}
#footer {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  color: aliceblue;
}
#footer a {
  color: white;
}

/* Modal Modifications */
.modal-title {
  color: black;
  text-align: center;
}

#newFriend {
  color: black;
}

/* Spinner */
.spinner {
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25841;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  /* Animation */
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.overlay.hidden {
  animation: fadeOut 3s;
  animation-fill-mode: forwards;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
}
